html{*overflow:auto;_overflow-y:scroll;}
body{cursor:default;-webkit-text-size-adjust:none;font-size:12px;font-family:Arial;background:#FFF;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{padding:0;margin:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,th,var{font-weight:normal;font-style:normal;}
strong{font-style:normal;}
ol,ul,li{list-style:none outside none;}
caption{text-align:left;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}
a{outline:none;cursor:pointer;/**outline:expression(this.hideFocus=true);*/text-decoration:none;}
img,object{vertical-align:top;}
input{outline:none;/**outline:expression(this.hideFocus=true);*/}
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner{border:none;padding:0;}
.clear{zoom:1;}
.clear:after{visibility:hidden;display:block;font-size:0;content:"1";clear:both;height:0;}
.fle{float:left;_display:inline;}
.fri{float:right;_display:inline;}