.sprite2{ background:url("sprite2.png") top left no-repeat; }
.nornma_r2_c2{ width:20px; height:20px; background-position:-10px -10px; }
.nornma_r4_c4{ width:20px; height:20px; background-position:-10px -40px; }

